bookshop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://student.ulb.ac.be/~areynoua/infoh509/work1/bookshop/v1/"
  xmlns="http://student.ulb.ac.be/~areynoua/infoh509/work1/bookshop/v1/"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <!-- following guidlines from
       https://www.medbiq.org/std_specs/techguidelines/xmldesignguidelines.pdf -->

  <xsd:complexType name="Bookshop">
    <xsd:sequence>
      <xsd:element name="departments" type="Departments" />
      <xsd:element name="catalogue" type="Catalogue" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Departments">
    <xsd:sequence>
      <xsd:element name="department" type="Department" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Department">
    <xsd:sequence>
      <xsd:element name="displayName" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required" />
  </xsd:complexType>

  <xsd:complexType name="Catalogue">
    <xsd:sequence>
      <xsd:any processContents="lax" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="bookshop" type="Bookshop">
  </xsd:element>

</xsd:schema>
